#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define ALPHA 0
#define SYM 1
#define NUM 2
#define NAV 3

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_zoom_in {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp LG(EQUAL)>;
        };
        combo_zoom_out {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp LG(MINUS)>;
        };
        combo_caps_word {
            timeout-ms = <50>;
            key-positions = <13 16>;
            bindings = <&caps_word>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q          &kp W        &kp F       &kp P         &kp B                                       &kp J           &kp L        &kp U         &kp Y       &kp SEMI
    &hm LCTL A     &hm LALT R   &hm LGUI S  &hm LSHIFT T  &kp G                                       &kp M           &hs RSHIFT N &hm RGUI E    &hm RALT I  &hm RCTL O
    &kp Z          &kp X        &kp C       &kp D         &kp V                                       &kp K           &kp H        &kp COMMA     &kp DOT     &kp FSLH
                                &kp ESC     &mo SYM       &kp TAB                                     &lt NAV SPACE   &lt NUM BSPC &kp ENTER
            >;
        };

        sym_layer {
            bindings = <
    &none          &none        &none       &none         &none                                       &kp RBKT        &kp RBRC     &kp RPAR     &none       &kp PIPE
    &kp GRAVE      &kp TILDE    &kp UNDER   &kp EQUAL     &none                                       &kp LBKT        &kp LBRC     &kp LPAR     &none       &kp BLSH
    &none          &none        &kp PLUS    &kp MINUS     &none                                       &kp LS(U)       &kp LS(S)    &kp COLON    &kp DQT     &kp SQT
                                &trans      &trans        &trans                                      &trans          &trans       &trans
            >;
        };

        num_layer {
            bindings = <
    &kp EXCL      &kp AT        &kp HASH   &kp DOLLAR     &kp PERCENT                                 &kp CARET       &kp AMPS     &kp STAR    &kp PIPE     &trans
    &kp N1        &kp N2        &kp N3     &kp N4         &kp N5                                      &kp N6          &kp N7       &kp N8      &kp N9       &kp N0
    &none         &none         &none      &none          &none                                       &none           &none        &none       &none        &none
                                &trans     &trans         &trans                                      &trans          &trans       &trans
            >;
        };

        nav_layer {
            bindings = <
    &bootloader  &kp F1        &kp F4     &kp F7         &kp F10                                      &none           &kp HOME     &kp UP      &kp END      &none
    &none        &kp F2        &kp F5     &kp F8         &kp F11                                      &none           &kp LEFT     &kp DOWN    &kp RIGHT    &none
    &none        &kp F3        &kp F6     &kp F9         &kp F12                                      &none           &none        &none       &none        &kp DEL
                               &trans     &trans         &trans                                       &trans          &trans       &trans   
            >;
        };
    };
};
